

    <div class="row d-flex flex-column justify-content-between">
        <div class="row my-1">
            <div class="col d-flex flex-column justify-content-between h-100" style="max-width: 50em;">
                <h6>Number of treatments</h6>
                {{ render_chart(treatmentChart) }}
            </div>
            <div class="col d-flex justify-content-around align-items-center h-100 p-5">
                <div class="col-6">
                    <div class="row d-flex flex-column align-items-center w-100">
                    <h5 class="d-flex flex-nowrap align-items-center"><span class="count display-4 me-1">{{totalTreatmentDuration}}</span><span>minutes</span></h5>
                    </div>
                    <div class="row d-flex flex-column align-items-center w-100">
                    <h5 class="d-flex flex-nowrap align-items-center"><span class="count display-4 me-1">{{totalTreatmentCount}}</span><span>Treatments</span></h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-5 d-flex justify-content-between">
            <div class="col d-flex flex-column justify-content-between h-100" style="max-width: 50em;">
                <h6>Mode usage (%)</h6>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="byWeek" value="option1" checked>
                    <label class="form-check-label" for="modeWeek">
                        Week
                    </label>
                    </div>
                    <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="byDay" value="option2">
                    <label class="form-check-label" for="modeDay">
                        Day
                    </label>
                </div>
                <div id="modeDay" style="width: 30em; display: none;">{{ render_chart(modeChart, {'class': 'w-100'}) }}</div>
                <div id="modeWeek" style="width: 30em;">{{ render_chart(modeChartWeek, {'class': 'w-100'}) }}</div>
            </div>
            <div class="col d-flex flex-column justify-content-between h-100" style="max-width: 50em;">
                <h6>Accessories usage (%)</h6>
                <div id="accDay" style="width: 30em; display: none;">{{ render_chart(accChart, {'class': 'w-100'}) }}</div>
                <div id="accWeek" style="width: 30em;">{{render_chart(accChartWeek, {'class': 'w-100'})}}</div>
            </div>
        </div>
    </div>
